<!DOCTYPE html>
<html>
<head>
  <title>Description</title>
  <style>
    body { font-family: Arial; background: #fff3e0; padding: 20px; }
    nav a { margin-right: 15px; text-decoration: none; color: #333; }
  </style>
</head>
<body>
  <center>
  <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'personal_info' %}">Personal Info</a>
    <a href="{% url 'description' %}">About Me</a>
    <a href="{% url 'contact' %}">Contact</a>
  </nav>

  <h1>Description About Me</h1>
  <p>Hello! My name is Huda Talb Qadir. I am a 21-year-old student currently studying in the Computer Department of the College of Science at the University of Sulaimani. I have a deep interest in technology, programming, and computer science. I love solving complex problems and building applications that can make a positive impact. I am always eager to learn new skills and stay updated with the latest trends in technology.</p>
</center>
</body>
</html>
