<!DOCTYPE html>
<html>
<head>
  <title>Personal Information</title>
  <style>
    body { font-family: Arial; background: #eef; padding: 20px; }
    nav a { margin-right: 15px; text-decoration: none; color: #333; }
  </style>
</head>
<body>
    <center>
  <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'personal_info' %}">Personal Info</a>
    <a href="{% url 'description' %}">About Me</a>
    <a href="{% url 'contact' %}">Contact</a>
  </nav>

  <h1>Personal Information</h1>
  <ul>
    <li><strong>Name:</strong> Huda Talb Qadir</li>
    <li><strong>Age:</strong> 21 years old</li>
    <li><strong>Studies at:</strong> University of Sulaimani, College of Science, Computer Department</li>
  </ul>
</center>
</body>
</html>
